@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root{
    background-color: #000c18 ;
    background: url("/herobg.jpeg");
    opacity: 50%;
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
    height: 100%;    margin: 0;
    padding: 0;
}
